<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:filterTouchesWhenObscured="true"
        android:fitsSystemWindows="true"
        android:theme="@style/Theme.Vipayee"
        android:usesCleartextTraffic="false">
        <activity android:name=".activities.MpinActivity"/>
        <activity android:name=".activities.RegisterActivity"/>
        <activity android:name=".activities.HomeActivity"/>
        <activity android:name=".activities.BalanceMpinActivity"/>
        <activity android:name=".activities.MiniStatementActivity"/>
        <activity android:name=".activities.BalanceResultActivity"/>
        <activity android:name=".activities.GenerateQrActivity"/>
        <activity android:name=".activities.EnterAmountActivity"/>
        <activity android:name=".activities.EnterTpinActivity" />
        <activity android:name=".activities.PaymentSuccessActivity" />

        <activity android:name=".activities.ScanQrActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="DiscouragedApi" />
        <activity android:name=".activities.TransactionOptionActivity"/>

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>